<?xml version="1.0"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CGSInterocitorSelectMode</key>
	<integer>0</integer>
	<key>DisplayLayoutToRight</key>
	<true/>
	<key>DisplayMainOnInternal</key>
	<true/>
	<key>DisplaySets</key>
	<array>
		<array>
			<dict>
				<key>Active</key>
				<integer>1</integer>
				<key>Depth</key>
				<integer>4</integer>
				<key>DisplayID</key>
				<integer>69667584</integer>
				<key>DisplayProductID</key>
				<integer>39980</integer>
				<key>DisplaySerialNumber</key>
				<integer>0</integer>
				<key>DisplayVendorID</key>
				<integer>1552</integer>
				<key>Height</key>
				<integer>900</integer>
				<key>IODisplayLocation</key>
				<string>IOService:/MacRISC2PE/pci@f0000000/AppleMacRiscAGP/ATY,JasperParent@10/ATY,Jasper_A@0/.Display_DualHead/display0/AppleBacklightDisplay&#x0000;</string>
				<key>IOFlags</key>
				<integer>7</integer>
				<key>MirrorID</key>
				<integer>0</integer>
				<key>Mirrored</key>
				<integer>0</integer>
				<key>Mode</key>
				<integer>2</integer>
				<key>OriginX</key>
				<integer>0</integer>
				<key>OriginY</key>
				<integer>0</integer>
				<key>RefreshRate16.16</key>
				<integer>0</integer>
				<key>Unit</key>
				<integer>0</integer>
				<key>UnmirroredHeight</key>
				<integer>900</integer>
				<key>UnmirroredMode</key>
				<integer>2</integer>
				<key>UnmirroredOriginX</key>
				<integer>0</integer>
				<key>UnmirroredOriginY</key>
				<integer>0</integer>
				<key>UnmirroredWidth</key>
				<integer>1440</integer>
				<key>Width</key>
				<integer>1440</integer>
			</dict>
		</array>
	</array>
	<key>Quartz2DExtremeEnabled</key>
	<false/>
</dict>
</plist>
