<?xml version="1.0"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TCPQuantum</key>
	<integer>262144</integer>
	<key>activityLog</key>
	<false/>
	<key>activityLogPath</key>
	<string>/Library/Logs/AppleFileService/AppleFileServiceAccess.log</string>
	<key>activityLogSize</key>
	<integer>1000</integer>
	<key>activityLogTime</key>
	<integer>7</integer>
	<key>admin31GetsSp</key>
	<true/>
	<key>adminGetsSp</key>
	<false/>
	<key>afpTCPPort</key>
	<integer>548</integer>
	<key>allowRootLogin</key>
	<false/>
	<key>attemptAdminAuth</key>
	<true/>
	<key>authenticationMode</key>
	<string>standard_and_kerberos</string>
	<key>autoRestart</key>
	<true/>
	<key>clientSleepOnOff</key>
	<true/>
	<key>clientSleepTime</key>
	<integer>24</integer>
	<key>enforce_unix_access</key>
	<false/>
	<key>errorLogPath</key>
	<string>/Library/Logs/AppleFileService/AppleFileServiceError.log</string>
	<key>errorLogSize</key>
	<integer>1000</integer>
	<key>errorLogTime</key>
	<integer>0</integer>
	<key>guestAccess</key>
	<true/>
	<key>idleDisconnectFlag</key>
	<dict>
		<key>adminUsers</key>
		<true/>
		<key>guestUsers</key>
		<true/>
		<key>registeredUsers</key>
		<true/>
		<key>usersWithOpenFiles</key>
		<true/>
	</dict>
	<key>idleDisconnectMsg</key>
	<string></string>
	<key>idleDisconnectOnOff</key>
	<false/>
	<key>idleDisconnectTime</key>
	<integer>10</integer>
	<key>kerberosPrincipal</key>
	<string>afpserver</string>
	<key>lock_manager</key>
	<true/>
	<key>loggingAttributes</key>
	<dict>
		<key>logCreateDir</key>
		<true/>
		<key>logCreateFile</key>
		<true/>
		<key>logDelete</key>
		<true/>
		<key>logLogin</key>
		<true/>
		<key>logLogout</key>
		<true/>
		<key>logOpenFork</key>
		<true/>
	</dict>
	<key>loginGreeting</key>
	<string></string>
	<key>loginGreetingTime</key>
	<integer>0</integer>
	<key>noNetworkUsers</key>
	<false/>
	<key>permissionsModel</key>
	<string>classic_permissions</string>
	<key>recon1SrvrKeyTTLHrs</key>
	<integer>168</integer>
	<key>recon1TokenTTLMins</key>
	<integer>10080</integer>
	<key>reconnectFlag</key>
	<string>no_admin_kills</string>
	<key>reconnectTTLInMin</key>
	<integer>1440</integer>
	<key>registerAppleTalk</key>
	<true/>
	<key>registerNSL</key>
	<true/>
	<key>sendGreetingOnce</key>
	<false/>
	<key>shutdownThreshold</key>
	<integer>3</integer>
	<key>specialAdminPrivs</key>
	<false/>
	<key>tickleTime</key>
	<integer>30</integer>
	<key>updateHomeDirQuota</key>
	<true/>
	<key>useAppleTalk</key>
	<false/>
</dict>
</plist>
