<?xml version="1.0"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAttemptDate</key>
	<date>2005-05-04T17:41:24Z</date>
	<key>LastResultCode</key>
	<integer>2</integer>
	<key>LastSuccessfulDate</key>
	<date>2005-05-04T17:41:24Z</date>
</dict>
</plist>
