<?xml version="1.0"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeynoteDisplayedRegPanelCount</key>
	<string>2</string>
	<key>KeynoteNotSentCount</key>
	<string>3</string>
	<key>KeynoteRegSent</key>
	<string>YES</string>
</dict>
</plist>
